<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>assets</key>
			<array>
				<dict>
					<key>kind</key>
					<string>software-package</string>
					<key>url</key>
					<string>https://lespark.oss-cn-beijing.aliyuncs.com/LesParkExplore.ipa?Expires=1579002263&amp;OSSAccessKeyId=TMP.hhE5GQpGgK87ncgrp4PPHdQZYt3FcWhXNWxZcxfkgqB5Xk3aBaeiE5sXU77pf1JXGx6Simvkw8Sn8TRD4e4fJFq141Zsg83YZzB3SifpSNU8tykkrK7HcVZ5nfEtdR.tmp&amp;Signature=Q8LuV347LzIZpyRnlvnrtWWKmBU%3D</string>
				</dict>
				<dict>
					<key>kind</key>
					<string>display-image</string>
					<key>url</key>
					<string>https://lespark.oss-cn-beijing.aliyuncs.com/60%402x.png?Expires=1579002284&amp;OSSAccessKeyId=TMP.hhE5GQpGgK87ncgrp4PPHdQZYt3FcWhXNWxZcxfkgqB5Xk3aBaeiE5sXU77pf1JXGx6Simvkw8Sn8TRD4e4fJFq141Zsg83YZzB3SifpSNU8tykkrK7HcVZ5nfEtdR.tmp&amp;Signature=V8cg8z%2FwLLF628WduoMOxqah%2FFY%3D</string>
				</dict>
				<dict>
					<key>kind</key>
					<string>full-size-image</string>
					<key>url</key>
					<string>https://lespark.oss-cn-beijing.aliyuncs.com/60%402x.png?Expires=1579002284&amp;OSSAccessKeyId=TMP.hhE5GQpGgK87ncgrp4PPHdQZYt3FcWhXNWxZcxfkgqB5Xk3aBaeiE5sXU77pf1JXGx6Simvkw8Sn8TRD4e4fJFq141Zsg83YZzB3SifpSNU8tykkrK7HcVZ5nfEtdR.tmp&amp;Signature=V8cg8z%2FwLLF628WduoMOxqah%2FFY%3D</string>
				</dict>
			</array>
			<key>metadata</key>
			<dict>
				<key>bundle-identifier</key>
				<string>com.gzxy.sawa</string>
				<key>bundle-version</key>
				<string>1.1.9.4</string>
				<key>kind</key>
				<string>software</string>
				<key>title</key>
				<string>Name</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
